body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px double purple;
}
body .main .topic nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .main .topic nav a {
  color: black;
  border: 3px double darkcyan;
  padding: 1em;
  border-radius: 20%;
  margin: 1em;
}
