@import './less/basics.less';

body {
    background-color: @bg;
    .flexcolumn();

    header {
        .flexcolumn();
        margin: 1em;

        a {
            color: black;
            text-decoration: none;
            border: 4px double black;
            padding: 1em;
            border-radius: 20%;;
        }
    }

    table {
        color: @redfont;
        border-spacing: 1px;
        font-size: .8em;

        tr {
            td {
                .element {
                    border: @border;
                    text-align: center;
                    width: 53px;
                }
                .blue {
                    background-color: @bluebg;
                    color: @bluefont;
                }
                .yellow {
                    background-color: @yellowbg;
                    color: @yellowfont;
                }
                .pink {
                    background-color: @pinkbg;
                    color: @pinkfont;
                }
                .green {
                    background-color: @greenbg;
                    color: @greenfont;
                }
            }
            .blank {
                height: 30px;
            }
        }
    }

}